ErrorDocument 404 https://fischernetzdesign.com/404.html

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.fischernetzdesign.com$ [NC]
RewriteRule ^(.*)$ https://www.fischernetzdesign.com/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.fischernetzdesign.com/$1 [R=301,L]

</IfModule>
