html {
    overflow-x: hidden;
    font-family: 'Amatic SC';
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Amatic SC';
    overflow-x: hidden;
    position: relative;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.ui-loader {
    display: none;
}

.navbar-wrapper {
    font-family: 'Amatic SC';
    position: fixed;
    height: 92px;
    width: 100%;
    background-color: #fff;
    z-index: 10000000000000;
    background-image: url(images/bg1.png);
    background-size: cover;
}

.body-wrapper {
    font-family: 'Amatic SC';
    padding: 0 75px 75px 75px;
    margin-top: 92px;
}

.middleBlue {
    color: #62797f;
}

.beige {
    color: #e5e2cf;
}

.hellblau {
    color: #aec2c4;
}

.dunkelgraublau {
    color: #4a5a5e;
}

/*mittelgraublau*/
/*62797f*/

.beige {
    color: #e5e2cf;
}

.hellgraublau {
    /*color: #c2c6c6;*/
    color: #d6d6d6;
}

.hellblau {
    color: #aec2c4;
}

.anker-margin {
    display: inline-block;
    margin-top: -85px;
    height: 85px;
}

.pagePadding {
    padding: 75px;
}

.marginTop {
    margin-top: 50px;
}

/*NAV*/
.navbar-wrapper .navbar-nav a {
    padding: 0 0.7em;
    margin-top: 15px;
}

.navbar-wrapper .navbar-nav a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    border-left: 2px solid #62797f;
    border-right: 2px solid #62797f;
}

.navbar-wrapper .navbar-nav a:hover,
.navbar-wrapper .navbar-nav .current a {
    color: #62797f;
}

.navbar-wrapper .navbar-nav a:hover:before,
.navbar-wrapper .navbar-nav .current a:before {
    opacity: 1;
    left: 0;
    right: 0;
}

.navbar-wrapper .navbar-default {
    background-color: transparent;
    border: none;
    padding: 20px;
    margin-bottom: 0;
}

.navbar-wrapper .navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-wrapper .navbar-nav > li {
    float: none;
    padding: 0 10px;
    display: inline-block;
}

.navbar-wrapper .navbar-brand {
    position: absolute;
}

.navbar-wrapper .navbar-brand img {
    width: 152px;
    margin: 0;
}

.navbar-wrapper .navbar-default .navbar-nav > li > a {
    color: #4a5a5e;
    font-size: 4rem;
}

.navbar-wrapper .navbar-default .navbar-nav > li > a:hover {
    color: #62797f;
}

/**/

.headline img {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -95px;
    opacity: 0.2;
}

.headline h1 {
    font-size: 6rem;
}

.body-wrapper h3 {
    font-size: 3.8rem;
}

.subheadline h3 {
    text-align: center;
}

.body-wrapper h2 {
    font-size: 4rem;
}

.body-wrapper h4 {
    font-size: 2.8rem;
}

/*SEITE1*/
.seite1 {
    background-color: #62797f;
    background-image: url(images/bg1.png);
    background-size: cover;
    padding: 100px;
}

.seite1 .subheadline {
    padding: 0 230px;
}

/*SEITE2*/
.seite2 {
    background-color: #aec2c4;
    background-image: url(images/bg1.png);
    background-size: cover;
    padding: 100px;
}

.seite2 h4 {
    font-size: 3.4rem;
    padding: 0 43px;
    color: #4a5a5e;
}

.köder img {
    width: 80%;
}

/*SEITE3*/
.seite3 {
    background-color: #c2c6c6;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.seite3 p {
    font-size: 3.8rem;
    color: #4a5a5e;
    padding: 0 142px;
}

/*SEITE4*/
.seite4 {
    background-color: #4a5a5e;
    background-image: url("images/bg1.png");
    padding: 75px 0;
}

.fratz-container img {
    width: 64%;
    margin-top: -50px;
}

.seite4 h4 {
    font-size: 3.4rem;
}

/*SEITE5*/
.seite5 {
    background-color: #c2c6c6;
    background-image: url("images/bg1.png");
}

.fischer-container img {
    width: 100%;
}

.fischer-container h3 {
    font-size: 4.4rem;
}

/*SEITE6*/
.seite6 {
    background-color: #4a5a5e;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.seite6 p {
    font-size: 3.8rem;
    color: #c2c6c6;
    padding: 0 142px;
}

/*SEITE7*/
.seite7 {
    background-color: #aec2c4;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.seite7 .headline, .seite7 .subheadline {
    color: #62797f;
}

.projects img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.project-hover {
    opacity: 0;
    position: absolute;
    background-color: rgba(98, 121, 127, 0.89);
    color: #e5e2cf;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 92.4%;
    padding-right: 13px;
    padding-left: 15px;
    padding-top: 20px;
    float: left;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.project-hover h3 {
    font-size: 44px;
}

.project-hover p {
    color: #aec2c4;
    font-size: 2.9rem;
}

.project-hover a {
    color: #aec2c4;
}

.project-hover a:hover {
    text-decoration: none;
}

.project-hover-show {
    object-fit: cover;
}

.project-hover-show:hover .project-hover {
    cursor: crosshair;
    display: block;
    opacity: 1.0;
}

/*SEITE8*/
.seite8 {
    background-color: #4a5a5e;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.seite8 p {
    font-size: 3.8rem;
    color: #c2c6c6;
    padding: 0 142px;
}

/*SEITE9*/
.seite9 {
    background-color: #e5e2cf;
    background-image: url("images/bg1.png");
    background-size: cover;
}

.schiff-container h3 {
    font-size: 3.9rem;
}

.schiff-container a {
    color: #5b7075;
    text-decoration: none;
}

.schiff-container a:hover {
    color: #4a5a5e;
    text-decoration: none;
}

.seite9 .headline, .seite9 .subheadline {
    color: #62797f;
}

.seite9 .schiff img {
    width: 60%;
}

/*SEITE10*/
.seite10 {
    color: #62797f;
    background-color: #c2c6c6;
    background-image: url("images/bg1.png");
    background-size: cover;
    background-blend-mode: overlay;
}

.seite10 .impressumstext h3 {
    font-size: 3.9rem;
}

.seite10 a {
    color: #62797f;
    text-decoration: none;
}

.seite10 a:hover {
    color: #4a5a5e;
    text-decoration: none;
}

.seite10 .impressumsText {
    font-size: 2.2rem;
    padding: 23px;
}

.mehrLesen-btn {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .seite10 .text-right {
        text-align: left !important;
    }
}

@media (min-width: 992px) and (max-width: 1540px) {

    .anker-margin {
        display: inline-block;
        margin-top: -125px;
        height: 125px;
    }

    .mid-padding {
        padding: 100px 0;
    }

    .mid-padding-small {
        padding: 10px 0;
    }

    .mid-padding .container {
        width: 100%;
    }

    .mid-padding-small .container {
        width: 100%;
    }

    .köder img {
        width: 57%;
    }

    .seite5 .pagePadding, .seite7 .pagePadding, .seite9 .pagePadding, .seite10 .pagePadding {
        padding: 0;
    }

    .seite5 .fischer-container {
        margin-left: -50px !important;
    }

    .seite5 .mid-padding, .seite7 .mid-padding, .seite9 .mid-padding, .seite10 .mid-padding {
        padding: 88px 0 !important;
    }

    .seite7 .projects {
        padding: 0 40px;
    }

    .seite7 .projects-hover {
        width: 93.4%;
    }

    .seite7 .projects-hover a {
        color: #e5e2cf;
    }

    .seite9 .schiff-container {
        margin-top: -19px;
    }
}

@media (max-width: 992px) {

    .navbar-wrapper {
        height: 75px;
    }

    .navbar-wrapper .navbar-default {
        background-color: #fff;
        z-index: 10000000000000;
        background-image: url(images/bg1.png);
        background-size: cover;
    }

    .navbar-wrapper .navbar-default {
        padding: 10px;
    }

    .navbar-wrapper .navbar-nav > li {
        float: none;
        display: block;
        width: 75%;
        padding: 5px;
        margin: 20px auto;
        height: auto;
    }

    .navbar-wrapper .navbar-nav a {
        padding: 0;
        margin-top: 15px;
    }

    .navbar-wrapper .navbar-nav {
        margin: 0;
    }

    .navbar-wrapper .navbar-default .navbar-toggle {
        border-color: #637f86;
    }

    .navbar-wrapper .navbar-toggle {
        position: relative;
        float: right;
        padding: 12px 15px;
        margin-top: 8px;
        margin-right: 28px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 1px;
    }

    .navbar-wrapper .navbar-brand {
        height: 75px;
        padding: 0;
    }

    .navbar-wrapper .navbar-brand img {
        width: 230px;
        margin-left: -174px;
    }

    .body-wrapper {
        padding: 0 40px 40px 40px;
        margin-top: 75px;
    }

    .body-wrapper .container {
        width: 100%;
    }

    .headline img {
        display: block;
        width: 100%;
    }

    .seite1, .seite2, .seite3, .seite4, .seite5, .seite6, .seite7, .seite8, .seite9, .seite10 {
        padding: 50px 0;
    }

    .body-wrapper .subheadline {
        padding: 0;
    }

    .köder img {
        width: 64%;
    }

    .seite3 p, .seite6 p, .seite8 p {
        padding: 0;
    }

    .pagePadding {
        padding: 0;
    }

    .body-wrapper .fratz-container {
        margin: 0 5px;
    }

    .fratz-container h1, .fratz-container h4 {
        font-size: 3.8rem;
    }

    .fratz-container img {
        width: 87%;
        margin-top: 0;
    }

    /*.fischer-container h3 {*/
        /*font-size: 4.4rem;*/
        /*padding: 0 10px;*/
    /*}*/

    .project-hover-show {
        object-fit: cover;
        margin-bottom: 30px;
    }

    .project-hover {
        width: 94.4%;
    }

    .project-hover h3, .project-hover a {
        color: #e5e2cf;
        font-size: 5rem;
    }

    .project-hover a:hover {
        text-decoration: line-through;
        color: #e5e2cf;
    }

    .project-hover p {
        font-size: 4rem;
    }

    .seite7 .marginTop {
        margin: 0;
    }

    .seite9 .schiff img {
        width: 100%;
    }

    .schiff-container h3 {
        font-size: 4.1rem;
    }

    .seite10 .impressumsText {
        font-size: 3rem;
    }

}

@media (max-width: 767px){

    .fischer-container h3 {
        font-size: 4.4rem;
        padding: 0 10px;
    }

    .mobileBorder {
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
        margin-top: 30px;
    }

    .mobileBorder-last {
        padding-bottom: 30px;
        margin-top: 30px;
        border-bottom: none;
    }
}